<article class="post">
<div class="entry-header pull-left">
<img src="{% if theme_config.headImgUrl %}{{ theme_config.headImgUrl }}{% elif config.avatar %}{{ config.avatar }}{% else %}/media/images/default-avatar.svg{% endif %}" class="topic-thumb bg" alt="头像">
</div>
<div class="entry-content">
<div class="meta">
<div class="author">
<span class="author-name">{% if theme_config.yourNickname %}{{ theme_config.yourNickname }}{% else %}{{ config.siteName }}{% endif %}</span>
<span class="is-author icon" aria-label="博主"></span>
</div>
<time class="author-time" datetime="{{ post.dateFormat }}">{{ post.dateFormat }}</time>
<span class="author-time">来自
<a href="{{ config.domain }}/">{{ config.siteName }}</a>
</span>
</div>
<h2 class="title">
<a href="{{ post.link }}">{% if post.isTop %}[顶] {% endif %}{{ post.title }}</a>
</h2>
<div class="summary">
<a href="{{ post.link }}">
{% if post.abstract %}{{ post.abstract|striptags|truncatechars:140 }}{% else %}{{ post.content|striptags|truncatechars:140 }}{% endif %}
{% if theme_config.indexShowFeature and post.feature %}
<img src="{{ post.feature }}" alt="{{ post.title }}" class="entry-image">
{% endif %}
</a>
</div>
<footer class="entry-footer">
<ul class="items state">
<li class="item count-comment"><span class="icon"></span>评论</li>
<li class="item count-view"><span class="icon"></span>阅读</li>
{% if post.categories and post.categories|length > 0 %}
<li class="item count-like">{% for cat in post.categories %}<a href="{{ cat.link }}">{{ cat.name }}</a>{% if not loop.last %}, {% endif %}{% endfor %}</li>
{% endif %}
{% if post.tags and post.tags|length > 0 %}
<li class="item count-image">Tags: {% for tag in post.tags %}<a href="{{ tag.link }}">{{ tag.name }}</a>{% if not loop.last %}, {% endif %}{% endfor %}</li>
{% endif %}
</ul>
</footer>
</div>
</article>
