{% extends "base.html" %}

{% block title %}{{ current_tag.name }} | {{ config.siteName }}{% endblock %}

{% block content %}
<div class="post_list">
  {% for post in posts %}
  <div class="post">
    <div class="post_title weaklink">
      <h2><a href="{{ post.link }}">{{ post.title }}</a></h2>
    </div>
    <div class="post_content markdown"><div class="p_part"><p>{{ post.content|safe }}</p></div></div>
    <div class="post_footer">
      <div class="info weaklink"><i class="fa fa-clock-o"></i>
        <span class="date_info">{{ post.dateFormat }}</span>
        <i class="fa fa-bookmark-o"></i>
        <span class="tags_info weaklink">
          {% for tag in post.tags %}
          <a href="{{ tag.link }}" class="tag">{{ tag.name }}</a>
          {% endfor %}
        </span>
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="paginator pager pagination">
    {% if pagination.next %}
    <div class="paginator_container pagination_container"><a href="{{ pagination.next }}" class="btn next older-posts older_posts"> Older Posts </a>
    {% endif %}
    <div style="clear:both;height:0;"></div>
    </div>
  </div>
</div>
{% endblock %}
