{# 社交图标行 #}
{% if theme_config.socialEmail %}<a class="social-icon" href="mailto:{{ theme_config.socialEmail }}" title="Email" rel="noopener"><i class="fa-solid fa-envelope"></i></a>{% endif %}
{% if theme_config.socialQq %}<a class="social-icon" href="{{ theme_config.socialQq }}" title="QQ" rel="noopener nofollow" target="_blank"><i class="fa-brands fa-qq"></i></a>{% endif %}
{% if theme_config.socialGithub %}<a class="social-icon" href="{{ theme_config.socialGithub }}" title="GitHub" rel="noopener" target="_blank"><i class="fa-brands fa-github"></i></a>{% endif %}
{% if theme_config.socialWeibo %}<a class="social-icon" href="{{ theme_config.socialWeibo }}" title="微博" rel="noopener" target="_blank"><i class="fa-brands fa-weibo"></i></a>{% endif %}
{% if theme_config.socialBilibili %}<a class="social-icon" href="{{ theme_config.socialBilibili }}" title="哔哩哔哩" rel="noopener" target="_blank"><i class="fa-brands fa-bilibili"></i></a>{% endif %}
{% if theme_config.socialRss %}<a class="social-icon" href="{{ theme_config.socialRss }}" title="RSS" rel="noopener"><i class="fa-solid fa-rss"></i></a>{% endif %}
